<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <h1 class="head">INVOICE</h1>
    <table>
        <tr>
            <td>NAME</td>
            <td><%= name %> </td>
        </tr>

        <tr>
            <td>MOBILE</td>
            <td><%= mob %> </td>
        </tr>

        <tr>
            <td>VEHICLE TYPE</td>
            <td><%= vt %> </td>

        </tr>

        <tr>
        <td>REGISTRATION NUMBER</td>
        <td><%= reg %> </td>
        </tr>
        
        <tr>
            <td>MODEL NAME</td>
            <td><%= vn %> </td>
        </tr>
        <tr>
            <td>TOTAL HOURS</td>
            <td><%= hour %> </td>
        </tr>

        <tr>
            <td>TOTAL FARE</td>
            <td><%= total %> </td>
        </tr>

        
    </table>
</body>
</html>